/*  your css code here. If applicable */
body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}
.h3{
	margin: 30px;
	
	text-align:center
}
.book-library {
    background-color: #ffffff;
    padding: 20px;
    max-width: 1200px;
    margin:  0 auto;
    /* display: flex; */
    flex-wrap: wrap;
    gap: 20px;
	text-align:center;
}

.book {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px; /* Adjust width as needed */
}

.book img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.author {
    color: #777777;
}

.price {
    color: #2ecc71;
    font-weight: bold;
}
.